.DS_Store
Thumbs.db
dump.rdb

__pycache__/
venv
.env
*.so
*.log
*.pyc
*.log*
*.out
*.db
*.log
*.pot
*.bak
*.xml
*.swp
*.sqlite3
*.sqlite3.*
*.ipynb
static/*
.idea/*

celerybeat-schedule
*.pid

*.zip
.cache/*

.sass-cache

node_modules/

celerybeat-schedule.bak
celerybeat-schedule.dir

.python-version

*.graphql

